
API-Server/creds.py
*.pyc
__pycache__/**
API-Server/__pycache__/**
API-Server/__pycache__/*.pyc
.DS_Store
API-Server/tmp.log
GUI+Client/.buildozer/**
GUI+Client/COVID Contact Tracer/**
GUI+Client/dist/**
GUI+Client/main.spec
GUI+Client/buildozer.spec
GUI+Client/build
Submission Documents
